{
  "plugins": [
      "react",
  ],
  "parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"mocha": true,
		"node": true,
	},
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
		"no-console": 1,
		"no-empty": 0,
		"no-unused-vars": ["warn"],
		"react/jsx-first-prop-new-line": 1,
		"react/no-array-index-key": 1,
		"react/prop-types": 0,
    "indent": ["warn", "tab", { "SwitchCase": 1 }],
    "max-len": 0, // ["warn", { "code": 240 }],
    "no-extra-parens": "warn",
    "no-multi-spaces": "warn",
    "object-curly-spacing": ["warn", "always"],
    "semi": 1,
		"quotes": ["warn", "single"],
		"comma-dangle": ["warn", "always-multiline"],
  },
  "settings": {
    "react": {
      "version": "16.3"
    }
  },

  "globals" : {
    "$" : false,
    "_" : false,
    "JQuery" : false,
    "moment" : false,
    "Promise" : false,
    "React" : false,
    "ReactDOM" : false,
    "Tween" : false,
    "Typekit" : false,
    "uuid" : false,
  },


	// "extends": "airbnb",
	// "extends": ["eslint:recommended", "plugin:react/recommended"],
/*	"parserOptions": {
		// "sourceType": "module",
		// "allowImportExportEverywhere": true,

		// Enable JSX
    "ecmaFeatures": {
        "jsx": true,
        "modulet": true
    },
	},*/
  // Enable eslint-plugin-react

	// "rules": {
		// "indent": ["error", 4],
		// "linebreak-style": ["error", "windows"],
		// "quotes": ["error", "single"],
		// "semi": ["error", "always"],
		// "no-unused-vars": ["warn"],
		// "no-console": 0,

      // "react/jsx-uses-react": "error",
      // "react/jsx-uses-vars": "error",
      // "react/jsx-no-undef": "warn",
      // "react/jsx-one-expression-per-line": "warn",
	// },
  // "settings": {
  //   "react": {
  //     "createClass": "createReactClass", // Regex for Component Factory to use,
  //                                  // default to "createReactClass"
  //     "pragma": "React",  // Pragma to use, default to "React"
  //     "version": "16.4.2", // React version, default to the latest React stable release
  //     //"flowVersion": "0.53" // Flow version
  //   },
  //   "propWrapperFunctions": [ "forbidExtraProps" ] // The names of any functions used to wrap the
  //                                              // propTypes object, e.g. `forbidExtraProps`.
  //                                              // If this isn't set, any propTypes wrapped in
  //                                              // a function will be skipped.
  // }
}
