$black          : #000000;
$white          : #FFFFFF;

$blue 			: #00b1e4;
$light-blue     : #29c0d4;
$pink 			: #d33f8d;

$notification-success : #2ecc71;
$notification-warning : #f39c12;
$notification-error   : #e74c3c;
$notification-info    : #3498db;

















$orange-light       : #F5AD64;
$orange             : #f4a142;



$grey-1         : #ebebeb;
$grey-2         : #dddddd;
$grey-3         : #606060;
$grey-4         : #383838;







// $popup-header-bg      : $grey-2;

// $orange-light       : #F5AD64;
// $orange             : #f4a142;

// $facebookBlue1  : #3b5998;
// $facebookBlue2  : #8b9dc3;
// $facebookBlue3  : #dfe3ee;
// $facebookGrey   : #f7f7f7;
// $error          : #ff0000;


// $green          : #66D37E;
// $green-txt      : #00B626;
// $green-2        : #a9ea9f;
// $red            : #ff0000;
// $red-1          : #ff4d4d;
// $red-2 			: #ffcccc;
// $yellow         : #FFED00;
// $yellow-2       : #ffffee; //#ffffb3;

// $grey           : #eaeaea;
// $grey-darker    : #acacac;
// $grey-darkest   : #383838;

// $input          : #dddddd;
// $input-error    : rgba(#ff0000, 0.3);

// $api            : #cc00cc;
/*$pink 			: #ff4da6;*/