@mixin MQ($media) {
    @if $media == S {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == M {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == L {
        @media only screen and (min-width: $break-large + 1) and (max-width: $break-xl - 1) { @content; }
    }
    @else if $media == XL {
        @media only screen and (min-width: $break-xl + 1) and (max-width: $break-xxl - 1) { @content; }
    }
    @else if $media == XXL {
        @media only screen and (min-width: $break-xxl) { @content; }
    }
    @else if $media == guestlistbig {
        @media only screen and (min-width: $guest-list) { @content; }
    }
    @else if $media == guestlistsmall {
        @media only screen and (max-width: $guest-list) { @content; }
    }
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition: $what $time $how;
    -ms-transition: $what $time $how;
    -o-transition: $what $time $how;
    transition: $what $time $how;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    // -webkit-transform-origin: 50% 50%;
    // -moz-transform-origin: 50% 50%;
    // -ms-transform-origin: 50% 50%;
    // -o-transform-origin: 50% 50%;
    // transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
    -webkit-box-shadow: $horizontal $vertical $blur $color!important;
    -moz-box-shadow: $horizontal $vertical $blur $color!important;
    box-shadow: $horizontal $vertical $blur $color!important;
}

@mixin linearGradient($top, $bottom) {
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin truncate-text() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin center-center($position: absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin vertical-center($position: absolute) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin blur($val) {
    -webkit-filter: blur($val);
    -moz-filter: blur($val);
    -o-filter: blur($val);
    -ms-filter: blur($val);
    filter: blur($val);
}

@mixin pos-center($position: absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}