.quote {
	padding: 20px;

	p:first-child {
		font-style: italic;
		text-align: center;
		color: rgba($black, .75);
		line-height: 20px;
	};

	p:nth-child(2) {
		font-style: italic;
		text-align: right;
		color: rgba($light-blue, .5);
		line-height: 20px;
		margin-top: 5px;
	};	
}