.preload {
	@include transition(all, .5s);

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: $preload;
	opacity: 1;
	// background: rgb(63,94,251);
	// background: radial-gradient(
	// 	circle,
	// 	rgba(63, 94, 251, 1) 0%,
	// 	rgba(180, 70, 252, 1) 100%
	// );
	background-image: url('/assets/login-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&__loader {
		@include center;

		color: $white;
	}
}
