@import url('https://fonts.googleapis.com/css?family=Raleway:400,900|Mansalva|Source+Sans+Pro&display=swap');

$raleway: 'Raleway', sans-serif;
$mansalva: 'Mansalva', sans-serif;
$source: 'Source Sans Pro', sans-serif;

* {
	font-family: $source;
}
