.modal-header {
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid $light-blue;
	&__title {
		line-height: 40px;
		font-size: 14px;
		font-weight: 600;
		padding-left: 10px;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		cursor: pointer;
		color: rgba($blue, .5);

		@include transition(all, .2s);

		&:hover {
			color: #000;
		}
	}
}