$blue: #00b1e4;
$light-blue: #29c0d4;
$pink: #d33f8d;

$notification-success: #2ecc71;
$notification-warning: #f39c12;
$notification-error: #e74c3c;
$notification-info: #3498db;

$white: #fff;
$grey-1: #eee;
$grey-2: #eaeaea;
$grey-3: #e5e5e5;
$grey-4: #dfdfdf;
$grey-5: #d7d7d7;
$grey-6: #cdcdcd;
$grey-7: #c1c1c1;
$grey-8: #b1b1b1;
$grey-9: #9d9d9d;
$grey-10: #858585;
$grey-11: #6a6a6a;
$grey-12: #555;
$grey-13: #444;
$grey-14: #363636;
$grey-15: #2b2b2b;
$grey-16: #222;
$grey-17: #1b1b1b;
$grey-18: #161616;
$grey-19: #121212;
$black: #000;

$orange-light: #f5ad64;
$orange: #f4a142;
